body {
  background-color: aqua;
}

h1 {
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  color: orange;
}
h2 {
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  color: red;
}
ul {
  list-style-type: circle;
  border: 15px solid green;
  padding: 50px;
}

ol{
  list-style-type: circle;
  border: 15px solid green;
  padding: 50px;
  color: tomato;
}


div {
  padding: 10px;
}

img {
  height: 350px;
  width: 350x;
  margin-right: 800px;
}

figure {
  align-content: left;
  align-items: center;
}

figcaption {
  background-color: purple;
  max-width: 530px;
}