body {
  background-color: aqua;
}

h1 {
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

ul {
  list-style-type: circle;
  border: 15px solid green;
  padding: 50px;
}

ol{
  list-style-type: circle;
  border: 15px solid green;
  padding: 50px;
}


div {
  margin: auto;
  width: 50%;
  padding: 10px;
}



